@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #22223b;
  color: #fbfcff;
}

.container-parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #89a1ef;
  color: #fbfcff;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.word {
  margin-block: 50px;
  display: flex;
  font-size: 30pt;
  column-gap: 10px;
  text-align: center;
  letter-spacing: 10px;
}

.letter {
  width: 40px;
}
.letter-top {
  height: 100%;
}
.letter-bottom {
  width: 90%;
  height: 5px;
  background-color: #fbfcff;
}

.top-info {
  padding: 20px;
}

.attempts {
  color: #32cbff;
}

.keys {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  background-color: #4a4e69;
  padding: 13px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.key {
  text-align: center;
  background-color: #89a1ef;
  padding: 5px;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 16pt;
}
.key:hover {
  transform: scale(1.05);
  background-color: #99b1ff;
  cursor: pointer;
}
.key:active {
  background-color: #32cbff;
  transition: 0s;
}

.correct {
  background-color: #0cbaba;
  pointer-events: none;
}

.wrong {
  background-color: #ed217c;
  pointer-events: none;
}

.popup-parent {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.popup {
  width: 500px;
  padding: 15px;
  background-color: #4a4e69;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popup h1 {
  text-align: center;
  font-size: 14pt;
}

.form {
  width: 100%;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
  background-color: #fbfcff;
  border: 0;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.select option {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  border: 0;
}

.submit {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
  background-color: #89a1ef;
  border: 0;
  border-radius: 5px;
  color: #fbfcff;
  font-family: "Open Sans";
  transition: 0.2s;
}
.submit:hover {
  background-color: #99b1ff;
  cursor: pointer;
}
.submit:active {
  background-color: #32cbff;
  transition: 0s;
}
.d-animation {
  animation: hide 0.5s;
}

.d-none {
  display: none;
  visibility: hidden;
}

.penalty{
  animation: timePenalty 0.5s;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes timePenalty {
  from {
    color: #ed217c;
  }
  to {
    color: #fbfcff;  }
}
/* https://coolors.co/d0ccd0-fbfcff-605856-1c6e8c-274156  */
/* https://coolors.co/32cbff-22223b-89a1ef-4a4e69-fecef1 */
